<div class="messages">
  <div class="container">

<% @messages.order('id desc').each do |message| %>
  <div class="message">
    <p class="time">
      <%= message.created_at %>
    </p>
    <p class="content">
      <%= message.content %>
    </p>
    <div class="messageSub">
      <%= link_to 'Edit', edit_message_path(message.id) %>
      <%= link_to 'Delete', message_path(message.id), method: :delete, data: { confirm: "are you ok?" } %>
    </div>
  </div>
<% end %>
<%= link_to 'New Message', new_message_path %>

  </div>
</div>
